html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.canvas {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}
.sky {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(-175deg, red, orangered, yellow);
  position: relative;
}
.sun {
  width: 40px;
  height: 40px;
  background-color: hsl(60, 100%, 75%);
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 65px;
}
.sea {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(hsl(60, 100%, 75%), orangered 7%, red);
  position: relative;
  filter: blur(5px);
}

.highlight {
  width: 45px;
  height: 50vh;
  background: linear-gradient(to right, orangered, hsl(60, 100%, 75%), red);
  position: absolute;
  left: 70px;
  bottom: 0;
  filter: blur(10px);
}
.boat {
  width: 200px;
  height: 60px;
  background-color: white;
  border-radius: 25%;
  position: absolute;
  bottom: 10px;
  right: 30px;
  transform: skew(-30deg);
  box-shadow: 5px 5px 7px;
  overflow: hidden;
}
