html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.canvas {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  overflow: hidden;
}
.sky {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(-175deg, red, orangered, yellow);
  position: relative;
}

.sun {
  width: 40px;
  height: 40px;
  background-color: hsl(60, 100%, 75%);
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 65px;
}
.sea {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(hsl(60, 100%, 75%), orangered 7%, red);
  position: relative;
  filter: blur(5px);
}

.highlight {
  width: 45px;
  height: 50vh;
  background: linear-gradient(to right, orangered, hsl(60, 100%, 75%), red);
  position: absolute;
  left: 70px;
  bottom: 0;
  filter: blur(10px);
}
.boat {
  width: 200px;
  height: 60px;
  background: linear-gradient(
    gray 5%,
    white 20%,
    #2d2d2d 20%,
    #2d2d2d 85%,
    gray 85%,
    white 95%
  );
  border-radius: 25%;
  position: absolute;
  bottom: 25px;
  right: 30px;
  transform: skew(-30deg);
  box-shadow: 7px 7px 9px;
  overflow: hidden;
}
.sunglasses {
  position: relative;
  bottom: 65px;
  transform: skew(10deg);
  left: 500px;
}

.lens.left {
  border: 2px solid black;
  border-radius: 40%;
  width: 20px;
  height: 20px;
  background: linear-gradient(30deg, gray, lightgray, gray);
  position: absolute;
  left: 300px;
}

.lens.right {
  border: 2px solid black;
  border-radius: 40%;
  width: 20px;
  height: 20px;
  background: linear-gradient(30deg, gray, lightgray, gray);
  position: absolute;
  left: 325px;
}
.arm-left {
  width: 1px;
  height: 12px;
  border: 1px solid silver;
  position: absolute;
  left: 300px;
  background-color: silver;
  border-radius: 5px;
  z-index: -1;
}
.arm-right {
  width: 1px;
  height: 12px;
  border: 1px solid silver;
  position: absolute;
  left: 330px;
  background-color: silver;
  border-radius: 5px;
  z-index: -1;
}
